* { font-size: 12px; font-family:verdana; }
body { margin:0px; padding:0px; background-color:#fff; }
a { color:#319BF7; text-decoration:underline; }
a:hover { text-decoration:none; }
.wrapper { margin:0px auto; width:1250px; }
.section { vertical-align:top; display:inline-block; padding:20px; margin:20px 10px; background-color:#eee; border-radius: 3px; border:1px solid #bbb; }
	.section:first-child { width:460px; }
	.section:last-child { width:662px; }
h1,
h1 a { font-size:14px; }
ul { padding-left:25px; }
li { margin-bottom:5px; }
input,
select,
textarea { border-radius: 3px; background-color:#fff; border:1px solid #ccc; padding: 2px; }
input[type='text'],
select,
textarea { transition: all 0.25s ease-in-out; }
input[type='submit'] { background-color:#ccc; border:solid 1px #bbb; }
input:hover[type='submit'] { background-color:#fffbd3; border:solid 1px #ccc2a3; }
input:hover[type='text'], 
input:focus[type='text'] { box-shadow: 0 0 4px #31C6F7; }
.output { margin-top:10px; border:1px solid #bbb; background-color:#fff; height: 300px; overflow:auto; padding:10px; }
	.error,
	.exception { color:#B80028; }
	.note { font-weight:bold; }
	.info { }